{% extends 'base.html' %}

{% block content %}
  <h1>Список товаров</h1>
  <table>
    <thead>
      <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Цена</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>
          <a href="{% url 'item-detail' item.id %}" style="color: #649A3A; font-weight: bold;">
            {{ item.name }}
          </a>
        </td>
        <td>{{ item.description }}</td>
        <td>{{ item.price }} {{ item.get_currency_display }}</td>
      </tr>
      {% empty %}
      <tr><td colspan="3">Нет товаров.</td></tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
